
<div class="header-content">
    <div class="hamburger-menu" id="hamburger-menu">
       <i class="fas fa-bars"></i> 
    </div>
</div>
<div class="sidebar" id="sidebar">
   <% if user_signed_in? %>
   <a href="/"><i class="fas fa-home">ホーム</i></a>
   <% end %>
   <% if user_signed_in? %>
   <a href="/"><i class="fa-sharp-duotone fa-solid fa-id-card">プロフィール</i></a>
   <% end %>
   <% if user_signed_in? %>
    <%= link_to "血糖値入力", new_glucose_path, class:"fa-solid fa-syringe" %> 
   <% end %>
   <% if user_signed_in? %>
    <%= link_to "血糖値データ", glucoses_path, class:"fa-solid fa-syringe" %> 
   <% end %>
   <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, class:"fa-solid fa-user", data: { turbo_method: :delete } %>   
   <% else %>
      <%= link_to "ログイン", new_user_session_path, class:"fa-solid fa-user" %> 
      <%= link_to "新規登録", new_user_registration_path, class: "fa-solid fa-user-plus"%>
   <% end %>
   <% if user_signed_in? %>
   <a href="#"><i class="fas fa-cog">設定</i></a>
   <% end %>
</div>