<div class= "loginContents">
<%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
 <div class="formContainer">
   <div class="title"><i class="fa-solid fa-user"></i> ログイン</div>
   <i class="fa-solid fa-envelope"></i>
   <%= f.label :メールアドレス %><br/>
   <%= f.email_field :email, autofocus: true, autocomplete: "メールアドレス" %>
 </div>

 <div class="formContainer">
   <i class="fa-solid fa-key"></i>
    <%= f.label :パスワード %><br/>
    <%= f.password_field :password, autocomplete: "パスワード" %>
 </div> 

 <div class="formContainer">
   <%= f.submit "ログイン" %>
   <%= render "devise/shared/links" %>
  </div>
 <% end %>
 <div class="title-h1">
  <%= button_to "Googleで登録", user_google_oauth2_omniauth_authorize_path, data: { turbo: false } %>
 </div>
</div>

